* {
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.header {
  width: 100%;
  height: 90px;
  background-color: #000000;
  color: #FFFFFF; }
  .header .header__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; }
    .header .header__container .header__titles {
      display: flex;
      padding-top: 35px; }
      .header .header__container .header__titles .header__title1 {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        margin-right: 10px; }
      .header .header__container .header__titles .header__title2 {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        background: #4A90E2;
        border-radius: 3px;
        width: 39px;
        height: 23px;
        padding-top: 2.5px;
        text-align: center; }
    .header .header__container .header__nav-list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 35px; }
      .header .header__container .header__nav-list .header__nav-item:not(:last-child) {
        margin-right: 30px; }
      .header .header__container .header__nav-list .header__nav-item-link {
        color: white;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer; }
        .header .header__container .header__nav-list .header__nav-item-link:hover {
          border-bottom: 1px solid #FFFFFF; }
        .header .header__container .header__nav-list .header__nav-item-link:focus {
          width: 42px;
          height: 18px;
          color: #000000;
          background: rgba(255, 255, 255, 0.8); }
        .header .header__container .header__nav-list .header__nav-item-link:active {
          font-weight: bold;
          color: white;
          border-bottom: 2px solid #FFFFFF;
          background: #000000; }
    .header .header__container .header__close-icon {
      display: none;
      text-align: right;
      padding: 5.5rem;
      font-size: 1.3rem;
      cursor: pointer;
      margin-left: auto; }
    .header .header__container .header__menu-icon {
      display: none;
      top: 0px;
      right: 0px;
      font-size: 2rem;
      color: white;
      line-height: 1;
      padding-top: 20px;
      cursor: pointer; }

@media (max-width: 768px) {
  .header .header__container .header__close-icon {
    display: block; }
  .header .header__container .header__nav-list {
    position: absolute;
    right: 0;
    background-color: #000000;
    flex-direction: column;
    width: 220px;
    display: none;
    z-index: 2; }
  .header .header__container .header__menu-icon {
    display: block; }
  .header .header__container .header__nav-list--active {
    display: block; }
    .header .header__container .header__nav-list--active .header__nav-item {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: 0 3px 8px 3px rgba(238, 233, 233, 0.4); }
      .header .header__container .header__nav-list--active .header__nav-item .header__nav-item-link {
        font-size: 15px;
        line-height: 40px;
        margin-left: 20px; } }
.main .block1__container {
  width: 95%;
  margin: auto; }
  .main .block1__container .block1 {
    display: grid;
    color: white;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: "card1 card2 card3" "card1 card4 card5";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px 0px;
    justify-content: center;
    align-content: center; }
  .main .block1__container .block1__card1 .block1__mark,
  .main .block1__container .block1__card2 .block1__mark,
  .main .block1__container .block1__card3 .block1__mark,
  .main .block1__container .block1__card4 .block1__mark,
  .main .block1__container .block1__card5 .block1__mark, .main .block1__container .block2-3__container .block2-3 .block2 .block2__card .block2__mark, .block2-3__container .block2-3 .block2 .block2__card .main .block1__container .block2__mark, .main .block1__container .block2-3__container .block2-3 .block3 .block3__card1 .block3__mark, .block2-3__container .block2-3 .block3 .block3__card1 .main .block1__container .block3__mark,
  .main .block1__container .block2-3__container .block2-3 .block3 .block3__card2 .block3__mark,
  .block2-3__container .block2-3 .block3 .block3__card2 .main .block1__container .block3__mark,
  .main .block1__container .block2-3__container .block2-3 .block3 .block3__card3 .block3__mark,
  .block2-3__container .block2-3 .block3 .block3__card3 .main .block1__container .block3__mark,
  .main .block1__container .block2-3__container .block2-3 .block3 .block3__card4 .block3__mark,
  .block2-3__container .block2-3 .block3 .block3__card4 .main .block1__container .block3__mark {
    font-size: 14px;
    line-height: 17px;
    background: #4A90E2;
    border-radius: 3px;
    width: 62px;
    height: 22px;
    padding-top: 2.5px;
    text-align: center;
    margin: 20px 0px 0px 20px; }
  .main .block1__container .block1__card1 .block1__card-text .block1__date,
  .main .block1__container .block1__card2 .block1__card-text .block1__date,
  .main .block1__container .block1__card3 .block1__card-text .block1__date,
  .main .block1__container .block1__card4 .block1__card-text .block1__date,
  .main .block1__container .block1__card5 .block1__card-text .block1__date, .main .block1__container .block2-3__container .block2-3 .block2 .block2__card .block2__date, .block2-3__container .block2-3 .block2 .block2__card .main .block1__container .block2__date {
    font-size: 14px;
    line-height: 18px;
    margin-left: 20px; }
  .main .block1__container .block1__card1 .block1__card-text .block1__text,
  .main .block1__container .block1__card2 .block1__card-text .block1__text,
  .main .block1__container .block1__card3 .block1__card-text .block1__text,
  .main .block1__container .block1__card4 .block1__card-text .block1__text,
  .main .block1__container .block1__card5 .block1__card-text .block1__text, .main .block1__container .block2-3__container .block2-3 .block2 .block2__card .block2__text, .block2-3__container .block2-3 .block2 .block2__card .main .block1__container .block2__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 20px; }
  .main .block1__container .block1__card1 {
    grid-area: card1;
    background: url("../images/image_1.png"), linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%); }
  .main .block1__container .block1__card2 {
    grid-area: card2;
    background: url("../images/image_2.png"), linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%); }
  .main .block1__container .block1__card3 {
    grid-area: card3;
    background: url("../images/image_3.png"), linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%); }
  .main .block1__container .block1__card4 {
    grid-area: card4;
    background: url("../images/image_4.png"), linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%); }
  .main .block1__container .block1__card5 {
    grid-area: card5;
    background: url("../images/image_5.png"), linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%); }
  .main .block1__container .block1__card1,
  .main .block1__container .block1__card2,
  .main .block1__container .block1__card3,
  .main .block1__container .block1__card4,
  .main .block1__container .block1__card5 {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; }
    .main .block1__container .block1__card1 .block1__card-text,
    .main .block1__container .block1__card2 .block1__card-text,
    .main .block1__container .block1__card3 .block1__card-text,
    .main .block1__container .block1__card4 .block1__card-text,
    .main .block1__container .block1__card5 .block1__card-text {
      display: flex;
      flex-direction: column; }
    .main .block1__container .block1__card1:hover .block1__text,
    .main .block1__container .block1__card2:hover .block1__text,
    .main .block1__container .block1__card3:hover .block1__text,
    .main .block1__container .block1__card4:hover .block1__text,
    .main .block1__container .block1__card5:hover .block1__text {
      text-decoration-line: underline; }

@media (max-width: 1280px) {
  .main .block1__container .block1 {
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(3, 250px);
    grid-template-areas: "card1 card2" "card1 card4" "card3 card5";
    justify-content: center; } }
@media (max-width: 768px) {
  .main .block1__container .block1 {
    grid-template-columns: repeat(1, 370px);
    grid-template-rows: repeat(6, 250px);
    grid-template-areas: "card1" "card1" "card2" "card4" "card3" "card5"; } }
@media (max-width: 568px) {
  .main .block1__container .block1 {
    grid-template-columns: repeat(1, 320px); } }
.block2-3__container {
  width: 95%;
  margin: auto; }
  .block2-3__container .block2-3 {
    display: flex;
    justify-content: center;
    padding: 45px 0px 63px; }
    .block2-3__container .block2-3 .block2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
      margin-right: 90px; }
      .block2-3__container .block2-3 .block2 .block2__image {
        width: 100%;
        object-fit: cover; }
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card1 .block1__mark, .main .block1__container .block1__card1 .block2-3__container .block2-3 .block2 .block1__mark,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card2 .block1__mark,
      .main .block1__container .block1__card2 .block2-3__container .block2-3 .block2 .block1__mark,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card3 .block1__mark,
      .main .block1__container .block1__card3 .block2-3__container .block2-3 .block2 .block1__mark,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card4 .block1__mark,
      .main .block1__container .block1__card4 .block2-3__container .block2-3 .block2 .block1__mark,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card5 .block1__mark,
      .main .block1__container .block1__card5 .block2-3__container .block2-3 .block2 .block1__mark, .block2-3__container .block2-3 .block2 .block2__card .block2__mark, .block2-3__container .block2-3 .block2 .block3 .block3__card1 .block3__mark, .block2-3__container .block2-3 .block3 .block3__card1 .block2 .block3__mark,
      .block2-3__container .block2-3 .block2 .block3 .block3__card2 .block3__mark,
      .block2-3__container .block2-3 .block3 .block3__card2 .block2 .block3__mark,
      .block2-3__container .block2-3 .block2 .block3 .block3__card3 .block3__mark,
      .block2-3__container .block2-3 .block3 .block3__card3 .block2 .block3__mark,
      .block2-3__container .block2-3 .block2 .block3 .block3__card4 .block3__mark,
      .block2-3__container .block2-3 .block3 .block3__card4 .block2 .block3__mark {
        font-size: 14px;
        line-height: 17px;
        background: #4A90E2;
        color: white;
        border-radius: 3px;
        width: 62px;
        height: 22px;
        padding-top: 2.5px;
        text-align: center;
        margin: 20px; }
      .block2-3__container .block2-3 .block2 .block2__card .block2__title {
        font-weight: bold;
        font-size: 25px;
        line-height: 28px;
        color: #171717;
        margin-left: 20px; }
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card1 .block1__card-text .block1__date, .main .block1__container .block1__card1 .block1__card-text .block2-3__container .block2-3 .block2 .block1__date,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card2 .block1__card-text .block1__date,
      .main .block1__container .block1__card2 .block1__card-text .block2-3__container .block2-3 .block2 .block1__date,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card3 .block1__card-text .block1__date,
      .main .block1__container .block1__card3 .block1__card-text .block2-3__container .block2-3 .block2 .block1__date,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card4 .block1__card-text .block1__date,
      .main .block1__container .block1__card4 .block1__card-text .block2-3__container .block2-3 .block2 .block1__date,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card5 .block1__card-text .block1__date,
      .main .block1__container .block1__card5 .block1__card-text .block2-3__container .block2-3 .block2 .block1__date, .block2-3__container .block2-3 .block2 .block2__card .block2__date {
        font-style: italic;
        font-size: 14px;
        line-height: 18px;
        color: #666666;
        margin: 20px; }
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card1 .block1__card-text .block1__text, .main .block1__container .block1__card1 .block1__card-text .block2-3__container .block2-3 .block2 .block1__text,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card2 .block1__card-text .block1__text,
      .main .block1__container .block1__card2 .block1__card-text .block2-3__container .block2-3 .block2 .block1__text,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card3 .block1__card-text .block1__text,
      .main .block1__container .block1__card3 .block1__card-text .block2-3__container .block2-3 .block2 .block1__text,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card4 .block1__card-text .block1__text,
      .main .block1__container .block1__card4 .block1__card-text .block2-3__container .block2-3 .block2 .block1__text,
      .block2-3__container .block2-3 .block2 .main .block1__container .block1__card5 .block1__card-text .block1__text,
      .main .block1__container .block1__card5 .block1__card-text .block2-3__container .block2-3 .block2 .block1__text, .block2-3__container .block2-3 .block2 .block2__card .block2__text {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #666666;
        margin: 0px 20px 20px; }
      .block2-3__container .block2-3 .block2 .block2__card {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 95%;
        background-color: white;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: -120px auto 50px; }
      .block2-3__container .block2-3 .block2:hover .block2__card {
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5); }
      .block2-3__container .block2-3 .block2:hover .block2__title {
        text-decoration-line: underline; }
    .block2-3__container .block2-3 .block2__buttons {
      text-align: center; }
      .block2-3__container .block2-3 .block2__buttons .block2__button {
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        width: 40px;
        height: 40px; }
        .block2-3__container .block2-3 .block2__buttons .block2__button:hover {
          background: #EFEFEF;
          border: 1px solid #E5E5E5; }
        .block2-3__container .block2-3 .block2__buttons .block2__button:active {
          background: #000000;
          color: white; }
    .block2-3__container .block2-3 .block3 {
      display: grid;
      grid-template-columns: 270px;
      grid-template-rows: 30px 320px 320px 320px 320px 530px 350px 350px;
      grid-template-areas: "block3__title1" "block3__card1" "block3__card2" "block3__card3" "block3__card4" "block3__photo" "block3__buttons" "block3__form";
      grid-row-gap: 25px; }
      .block2-3__container .block2-3 .block3 .main .block1__container .block1__card1 .block1__mark, .main .block1__container .block1__card1 .block2-3__container .block2-3 .block3 .block1__mark,
      .block2-3__container .block2-3 .block3 .main .block1__container .block1__card2 .block1__mark,
      .main .block1__container .block1__card2 .block2-3__container .block2-3 .block3 .block1__mark,
      .block2-3__container .block2-3 .block3 .main .block1__container .block1__card3 .block1__mark,
      .main .block1__container .block1__card3 .block2-3__container .block2-3 .block3 .block1__mark,
      .block2-3__container .block2-3 .block3 .main .block1__container .block1__card4 .block1__mark,
      .main .block1__container .block1__card4 .block2-3__container .block2-3 .block3 .block1__mark,
      .block2-3__container .block2-3 .block3 .main .block1__container .block1__card5 .block1__mark,
      .main .block1__container .block1__card5 .block2-3__container .block2-3 .block3 .block1__mark, .block2-3__container .block2-3 .block3 .block2 .block2__card .block2__mark, .block2-3__container .block2-3 .block2 .block2__card .block3 .block2__mark, .block2-3__container .block2-3 .block3 .block3__card1 .block3__mark,
      .block2-3__container .block2-3 .block3 .block3__card2 .block3__mark,
      .block2-3__container .block2-3 .block3 .block3__card3 .block3__mark,
      .block2-3__container .block2-3 .block3 .block3__card4 .block3__mark {
        position: absolute;
        font-size: 14px;
        line-height: 17px;
        background: #4A90E2;
        color: white;
        border-radius: 3px;
        width: 62px;
        height: 22px;
        padding-top: 2.5px;
        text-align: center;
        left: 30px;
        top: 30px; }
      .block2-3__container .block2-3 .block3 .block3__card1 .block3__text,
      .block2-3__container .block2-3 .block3 .block3__card2 .block3__text,
      .block2-3__container .block2-3 .block3 .block3__card3 .block3__text,
      .block2-3__container .block2-3 .block3 .block3__card4 .block3__text {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #171717;
        padding: 20px 0px 10px;
        left: 0px;
        bottom: 0px; }
      .block2-3__container .block2-3 .block3 .block3__card1 .block3__data,
      .block2-3__container .block2-3 .block3 .block3__card2 .block3__data,
      .block2-3__container .block2-3 .block3 .block3__card3 .block3__data,
      .block2-3__container .block2-3 .block3 .block3__card4 .block3__data {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #666666; }
      .block2-3__container .block2-3 .block3 .block3__title1 {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #171717; }
      .block2-3__container .block2-3 .block3 .block3__card1,
      .block2-3__container .block2-3 .block3 .block3__card2,
      .block2-3__container .block2-3 .block3 .block3__card3,
      .block2-3__container .block2-3 .block3 .block3__card4 {
        position: relative;
        cursor: pointer; }
        .block2-3__container .block2-3 .block3 .block3__card1 .block3__mark,
        .block2-3__container .block2-3 .block3 .block3__card2 .block3__mark,
        .block2-3__container .block2-3 .block3 .block3__card3 .block3__mark,
        .block2-3__container .block2-3 .block3 .block3__card4 .block3__mark {
          top: 20px; }
        .block2-3__container .block2-3 .block3 .block3__card1:hover .block3__text,
        .block2-3__container .block2-3 .block3 .block3__card2:hover .block3__text,
        .block2-3__container .block2-3 .block3 .block3__card3:hover .block3__text,
        .block2-3__container .block2-3 .block3 .block3__card4:hover .block3__text {
          text-decoration-line: underline; }
      .block2-3__container .block2-3 .block3 .block3__photo {
        display: grid;
        grid-row-gap: 95px;
        grid-template-areas: "title2 title2" "image1 image2" "image3 image4" "image5 image6" "button button";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: left; }
        .block2-3__container .block2-3 .block3 .block3__photo .block3__title2 {
          grid-area: title2;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          color: #171717;
          padding-bottom: 15px; }
        .block2-3__container .block2-3 .block3 .block3__photo .block3__button {
          grid-area: button;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          color: #FFFFFF;
          text-align: center;
          background: #232323;
          border-radius: 3px;
          border: none;
          height: 50px;
          cursor: pointer; }
          .block2-3__container .block2-3 .block3 .block3__photo .block3__button:hover {
            background: #5C5C5C; }
          .block2-3__container .block2-3 .block3 .block3__photo .block3__button:focus {
            background: #232323;
            border: 2px dashed rgba(255, 255, 255, 0.5); }
          .block2-3__container .block2-3 .block3 .block3__photo .block3__button:active {
            background: #0E0E0E;
            border: none; }
          .block2-3__container .block2-3 .block3 .block3__photo .block3__button .block3__button-icon {
            padding-right: 10px; }
      .block2-3__container .block2-3 .block3 .block3__buttons {
        width: 100%; }
        .block2-3__container .block2-3 .block3 .block3__buttons .block3__title3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          color: #171717;
          padding: 35px 0px 26px; }
        .block2-3__container .block2-3 .block3 .block3__buttons .block3__button-tags {
          background: #EBEBEB;
          border-radius: 3px;
          border: none;
          font-size: 14px;
          line-height: 18px;
          color: #171717;
          height: 30px;
          padding: 7px 10px;
          margin: 5px; }
          .block2-3__container .block2-3 .block3 .block3__buttons .block3__button-tags:hover, .block2-3__container .block2-3 .block3 .block3__buttons .block3__button-tags:active {
            text-decoration-line: underline; }
      .block2-3__container .block2-3 .block3 .block3__form .block3__title4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #171717;
        padding: 35px 0px 10px; }
      .block2-3__container .block2-3 .block3 .block3__form .block3__form-text {
        font-size: 14px;
        line-height: 24px;
        color: #666666;
        padding-bottom: 14px; }
      .block2-3__container .block2-3 .block3 .block3__form .block3__input {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 3px;
        font-size: 14px;
        line-height: 18px;
        color: #AEB3BB;
        width: 100%;
        height: 50px;
        padding: 15px;
        margin: 10px 0px 5px;
        cursor: pointer; }
        .block2-3__container .block2-3 .block3 .block3__form .block3__input:hover {
          background: #F4F6FA; }
        .block2-3__container .block2-3 .block3 .block3__form .block3__input:focus {
          color: #000000;
          background: #FFFFFF;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          border: none; }
      .block2-3__container .block2-3 .block3 .block3__form .block3__form-button {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        background: #232323;
        border-radius: 3px;
        border: none;
        height: 50px;
        width: 100%;
        margin-top: 10px;
        cursor: pointer; }
        .block2-3__container .block2-3 .block3 .block3__form .block3__form-button:hover {
          background: #5C5C5C; }
        .block2-3__container .block2-3 .block3 .block3__form .block3__form-button:focus {
          background: #232323;
          border: 2px dashed rgba(255, 255, 255, 0.5); }
        .block2-3__container .block2-3 .block3 .block3__form .block3__form-button:active {
          background: #0E0E0E;
          border: none; }

@media (max-width: 1280px) {
  .block2-3__container .block2-3 {
    flex-direction: column; }
    .block2-3__container .block2-3 .block2 {
      width: 95%;
      margin: auto; }
    .block2-3__container .block2-3 .block3 {
      justify-content: center;
      grid-template-columns: repeat(2, 270px);
      grid-template-rows: auto;
      grid-template-areas: "title title" "card1 card2" "card3 card4";
      grid-column-gap: 60px;
      grid-row-gap: 40px; }
      .block2-3__container .block2-3 .block3 .block3__title1 {
        grid-area: title;
        padding-top: 68px; }
      .block2-3__container .block2-3 .block3 .block3__card1 {
        grid-area: card1; }
      .block2-3__container .block2-3 .block3 .block3__card2 {
        grid-area: card2; }
      .block2-3__container .block2-3 .block3 .block3__card3 {
        grid-area: card3; }
      .block2-3__container .block2-3 .block3 .block3__card4 {
        grid-area: card4; }
      .block2-3__container .block2-3 .block3 .block3__photo .block3__title2 {
        padding: 25px 0px 15px; }
      .block2-3__container .block2-3 .block3 .block3__buttons .block3__title3 {
        padding: 25px 0px 26px; }
      .block2-3__container .block2-3 .block3 .block3__form .block3__title4 {
        padding: 8px 0px 11px; } }
@media (max-width: 768px) {
  .block2-3__container .block2-3 .block2 .block2__buttons .block2__button {
    width: 30px;
    height: 30px; }
  .block2-3__container .block2-3 .block3 {
    grid-template-columns: 270px;
    grid-template-areas: "title" "card1" "card2" "card3" "card4";
    grid-column-gap: 65px;
    grid-row-gap: 30px; }
    .block2-3__container .block2-3 .block3 .block3__title1 {
      padding: 8px 0px; }
    .block2-3__container .block2-3 .block3 .block3__photo .block3__title2 {
      padding: 2px 0px 15px; }
    .block2-3__container .block2-3 .block3 .block3__buttons .block3__title3 {
      padding: 18px 0px 26px; }
    .block2-3__container .block2-3 .block3 .block3__form .block3__title4 {
      padding: 18px 0px 11px; } }
@media (max-width: 568px) {
  .block2-3__container .block2-3 .block2 .block2__card {
    margin: -50px auto 30px; }
    .block2-3__container .block2-3 .block2 .block2__card .block2__title {
      font-size: 16px; }
    .block2-3__container .block2-3 .block2 .block2__card .block2__date {
      margin: 10px 20px; } }
.footer {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-template-areas: "block1 block2 block3";
  grid-column-gap: 30px;
  position: relative;
  background: #171717;
  color: white;
  justify-content: center;
  padding: 62px 40px; }
  .footer .footer__block1 {
    grid-area: block1; }
    .footer .footer__block1 .footer__block1-titles {
      display: flex; }
      .footer .footer__block1 .footer__block1-titles .footer__block1-title1 {
        font-size: 14px;
        line-height: 18px;
        margin-right: 5px; }
      .footer .footer__block1 .footer__block1-titles .footer__block1-title2 {
        font-size: 14px;
        line-height: 18px;
        background: #4A90E2;
        border-radius: 3px;
        width: 39px;
        height: 23px;
        padding-top: 2.5px;
        text-align: center; }
    .footer .footer__block1 .footer__block1-text {
      font-size: 14px;
      line-height: 22px;
      color: #CECECE;
      padding-top: 28px; }
    .footer .footer__block1 .footer__block1-title3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      padding: 64px 0px 23px; }
    .footer .footer__block1 .footer__block1-buttons {
      display: flex;
      flex-wrap: nowrap; }
      .footer .footer__block1 .footer__block1-buttons .footer__block1-button {
        cursor: pointer;
        width: 34px;
        height: 34px;
        background: #373737;
        border-radius: 3px;
        border: none;
        margin: 0px 15px 42px 0px; }
        .footer .footer__block1 .footer__block1-buttons .footer__block1-button:hover {
          background: #777777;
          border-radius: 3px; }
        .footer .footer__block1 .footer__block1-buttons .footer__block1-button:active {
          background: #FFFFFF;
          border-radius: 3px;
          color: #000000; }
          .footer .footer__block1 .footer__block1-buttons .footer__block1-button:active .footer__block1-image {
            filter: invert(1); }
        .footer .footer__block1 .footer__block1-buttons .footer__block1-button .footer__block1-image {
          padding-top: 10%; }
  .footer .footer__block2 {
    grid-area: block2;
    display: grid;
    grid-template-columns: repeat(3, 95px);
    grid-template-rows: auto;
    grid-template-areas: "title title title" "image1 text1 text1" "image2 text2 text2" "image3 text3 text3";
    grid-column-gap: 20px;
    grid-row-gap: 25px; }
    .footer .footer__block2 .footer__block2-title {
      grid-area: title;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px; }
    .footer .footer__block2 .footer__block2-image1 {
      grid-area: image1; }
    .footer .footer__block2 .footer__block2a {
      grid-area: text1; }
    .footer .footer__block2 .footer__block2-image2 {
      grid-area: image2; }
    .footer .footer__block2 .footer__block2b {
      grid-area: text2; }
    .footer .footer__block2 .footer__block2-image3 {
      grid-area: image3; }
    .footer .footer__block2 .footer__block2c {
      grid-area: text3; }
    .footer .footer__block2 .footer__block2a,
    .footer .footer__block2 .footer__block2b,
    .footer .footer__block2 .footer__block2c {
      align-self: center;
      cursor: pointer; }
      .footer .footer__block2 .footer__block2a .footer__block2-text,
      .footer .footer__block2 .footer__block2b .footer__block2-text,
      .footer .footer__block2 .footer__block2c .footer__block2-text {
        font-weight: bold;
        font-size: 15px;
        line-height: 26px; }
      .footer .footer__block2 .footer__block2a .footer__block2-date,
      .footer .footer__block2 .footer__block2b .footer__block2-date,
      .footer .footer__block2 .footer__block2c .footer__block2-date {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #CECECE; }
      .footer .footer__block2 .footer__block2a:hover,
      .footer .footer__block2 .footer__block2b:hover,
      .footer .footer__block2 .footer__block2c:hover {
        text-decoration-line: underline; }
  .footer .footer__block3 {
    grid-area: block3;
    display: block;
    width: 100%; }
    .footer .footer__block3 .footer__block3-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 38px; }
    .footer .footer__block3 .footer__form .footer__input {
      width: 100%;
      height: 50px;
      background: #373737;
      border-radius: 3px;
      border: none;
      padding-left: 15px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF; }
    .footer .footer__block3 .footer__form .footer__button {
      width: 100%;
      height: 50px;
      background: #232323;
      border-radius: 3px;
      border: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF; }

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-template-rows: 90px;
  grid-template-areas: "title . list";
  grid-column-gap: 30px;
  color: #FFFFFF;
  background-color: #000000;
  height: 90px;
  justify-content: center;
  align-items: center; }
  .footer__nav .footer__title {
    grid-area: title;
    font-size: 14px;
    line-height: 17px; }
  .footer__nav .footer__nav-list {
    grid-area: list;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
    .footer__nav .footer__nav-list .footer__nav-item-link {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer; }
      .footer__nav .footer__nav-list .footer__nav-item-link:hover {
        border-bottom: 2px solid #FFFFFF; }
      .footer__nav .footer__nav-list .footer__nav-item-link:focus {
        width: 42px;
        height: 18px;
        color: #000000;
        background: rgba(255, 255, 255, 0.8); }
      .footer__nav .footer__nav-list .footer__nav-item-link:active {
        font-weight: bold;
        color: white;
        border-bottom: 2px solid #FFFFFF;
        background: #000000; }

@media (max-width: 1280px) {
  .footer {
    grid-template-columns: repeat(2, 350px);
    grid-template-areas: "block1 block2" "block3 block3";
    grid-column-gap: 30px;
    justify-content: center; }
    .footer .footer__block3 .footer__block3-title {
      padding: 48px 0px 38px; }

  .footer__nav {
    grid-template-columns: repeat(2, 350px);
    grid-template-areas: "title list";
    grid-column-gap: 30px;
    justify-content: center; } }
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 295px;
    grid-template-areas: "block1" "block2" "block3";
    padding: 48px 104px; }
    .footer .footer__block1 .footer__block1-title3 {
      padding: 48px 0px 23px; }
    .footer .footer__block1 .footer__block1-buttons .footer__block1-button {
      margin-bottom: 48px; }

  .footer__nav {
    height: 110px;
    grid-template-columns: 280px;
    grid-template-rows: auto;
    grid-template-areas: "list" "title";
    justify-content: center; }
    .footer__nav .footer__title {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
