* {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

@import "_header";
@import "_block1";
@import "_block2-3";
@import "_footer";

